.xPlaying {
  color: darkblue;
}
.oPlaying {
  color: darkgreen;
}
.restartButton {
  margin-bottom: 15px;
}
.gridButton {
  color: black;
  background-color: white;
  text-align: center;
  border: 1px solid black;
  height: 40px;
  width: 40px;
  float:  left;
}
.rowContainer {
  width: 120px;
}
table, th, td {
  border: 1px solid gray;
  border-collapse: collapse;
  padding: 5px;
}